SUBSYSTEM=="usb", ATTRS{idVendor}=="[VENDOR_ID]", ACTION=="add", RUN+="$(DESTDIR)$(PREFIX)/sbin/on-keyboard-plug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="[VENDOR_ID]", ACTION=="remove", RUN+="$(DESTDIR)$(PREFIX)/sbin/on-keyboard-unplug.sh"

